*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
   padding: 0 16px;
    background-color: #eee;
    background-image: url("black-thread.png");
  }
  header{
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0  rgba(0,0,0,0.3);
  }
  
  header h1{
    color: #fff;
    font-family: cursive;
    font-weight: 200;
  }
  /* .newNode{
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 2px 5px #ccc;
    padding: 10px;
    margin: 2% 30% 1%;
    width: 30%px;
    padding-bottom: 2%;
  } */
  /* input{
    display: block;
    background-color: #fff;
    border: 0px solid #fff ;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 1.5%;
  } */
  .box{
    display: flex;
    box-shadow: 0px 2px 5px #ccc;
    width: auto;
    /* background-color: aqua; */
  }
  footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p{
   color: rgb(82, 80, 80);
  }
  
  .note{
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 2px 5px #ccc;
    padding: 10px;
    width: 30%px;
    margin: 16px;
    float: left;
  }
  .note h1{
    font-size: 1.1rem;
    margin-bottom: 6px;
  }
  .note p{
    font-size: 1.1rem;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .note button{
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    outline: none;
    cursor: pointer;
  } 
  
  form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138,137,137);
  }
  
  input, textarea{
    border: 0px solid #fff ;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1.5%;
    outline: none;
    resize: none;
    padding: 4px;
    
  }
  .addbtn{
    position: absolute;
    right: 18px;
    bottom: 13px;
    color:#fff;
    background-color:#f5ba13;
    border: 0px solid  #fff ;
    padding-top: 1%;
    border-radius: 50%;
    outline: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    float: right;
  }
  .delbtnn{
    cursor: pointer;
    color:  #f5ba13; 
    background-color: #fff;
    border: 0px dashed  #fff ;
    margin-left: 1%;
  }
  